.login-box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 75vh;
  width: 70%;
}

.login-image {
  width: -webkit-fill-available;
  height: 60vh;
}

@media (max-width: 600px) {
  .login-image {
    width: -webkit-fill-available;
    height: 35vh;
  }
  .login-box {
    height: 100vh;
  }
}

@media (min-width: 601px) and (max-width: 740px) {
  .login-image {
    width: -webkit-fill-available;
    height: 95vh;
  }
  .login-box {
    height: 115vh;
  }
}
